* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
    transition: background-image 1s ease-in-out;
}



#time {
    font-size: 8rem;
}

h1{
    margin-bottom: 3rem;
}

h2{
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

@media(max-width: 700px){
    #time{
        font-size: 6rem;
    }
}
@media(max-height: 450px){
    .sound-picker{
        opacity: 0;
    }
    
}
@media(max-height: 350px){
    .location{
        opacity: 0;
    }
}

#darkMode{
    border-radius: 50%;
    height: 2.2em;
    width: 2.2em;
    background-color: transparent;
    border-color: black;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;  
    border-color: white;
}
#sideBarIcon{
    border-radius: 50%;
    height: 2.2em;
    width: 2.2em;
    background-color: transparent;
    border-color: black;
    position: fixed;
    top: 2.5em;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;  
    border-color: white;
}

#darkModeIcon{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}
.location{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 5px;
}
.icontempcontainer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#degree {
    
    font-size: 4vh;
}
#visibilityIcon{
    color: white;
}
#weather-icon{
    object-fit: cover;
    height: 8vh;
    width: 8vh;
    padding-top: .25vh;
}

video{
    position: fixed;
    top: 0%;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    z-index: -10;
    opacity: 0;
}
.sound-picker{
    position: fixed;
    height: 30vh;
    top:0;
    margin-top: 5px; 
}
.sound-picker button{
    border-radius: 50%;
}
#player {
	width: 18vw;
	height: 1vh;
	position: relative;
	margin: 0 auto;
	top: 15px;
}
#volume_up{
    position: absolute;
    margin-top: -10px;
    margin-right: -8px;
    right: 0;
}
#volume_down{
    left: 0;
    position: absolute;
    margin-top: -10px;
    margin-left: -8px;
}
#volume {
	position: absolute;
	left: 24px;
	margin: 0 auto;
	height: 5px;
	width: 15vw;
	background: #555;
	border-radius: 15px;	
}
#volume .ui-slider-range-min {
    height: 4vh;
    width: 30vw;
    position: absolute;
    border: none;
    border-radius: 10px;
    outline: none;
}
#volume .ui-slider-handle {
    width: 20px;
  height: 20px;
    border-radius: 20px;
  background: #FFF;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 40px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 15; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0; 
    transition: 0.4s; 
    opacity: .5;
  }
  
  
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .sidenav .clear-btn{
      position: absolute;
      bottom: 0;
      outline: 5px solid white;
      width: 100%;
      transform: translate(-50%, 0);
      background-color: transparent;
      color: white;
      font-size: 35px;
  }
  #ToDoHeader{
      font-size: 3.7em;
      outline: 2px solid white;
  }
  .todo-form{
    
    outline: 2px solid white;
}
#textSubmit{
    display: flex;
    grid-template-columns: 8fr 1fr;
    gap: 0px 0px;
    justify-content: stretch;
    justify-items: start;
}
  #todo{
      font-size: 15px;
      margin: 0;
      padding: 0;
      width: 80%;
      background-color: transparent;
      outline: 0;
      height: 100%;
      color: white;
  }
  #sub{
      font-size: 100%;
      margin: 0;
      padding: 0;
      width: 20%;
      cursor: pointer;
      color: white;
  }
  #ToDoHeader{
      color: white;
  }