* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: black;
    transition: background-image 1s ease-in-out;
}



#time {
    font-size: 8rem;
}

h1{
    margin-bottom: 3rem;
}

h2{
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

@media(max-width: 700px){
    #time{
        font-size: 6rem;
    }
}
@media(max-height: 450px){
    .sound-picker{
        opacity: 0;
    }
    
}
@media(max-height: 350px){
    .location{
        opacity: 0;
    }
}

#darkMode{
    border-radius: 50%;
    height: 2.2em;
    width: 2.2em;
    background-color: transparent;
    border-color: black;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
    
}
#darkModeIcon{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.location{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 5px;
}
.icontempcontainer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#degree {
    
    font-size: 4vh;
}
#weather-icon{
    object-fit: cover;
    height: 8vh;
    width: 8vh;
    padding-top: .25vh;
}

#videorain{
    opacity: 1;
}
video{
    position: fixed;
    top: 0%;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    z-index: -10;
    opacity: 0;
}
.sound-picker{
    position: fixed;
    height: 30vh;
    top:0;
    margin-top: 5px; 
}
button{
    border-radius: 50%;
}
#player {
	width: 18vw;
	height: 1vh;
	position: relative;
	margin: 0 auto;
	top: 15px;
}
#volume_up{
    position: absolute;
    margin-top: -10px;
    margin-right: -8px;
    right: 0;
}
#volume_down{
    left: 0;
    position: absolute;
    margin-top: -10px;
    margin-left: -8px;
}
#volume {
	position: absolute;
	left: 24px;
	margin: 0 auto;
	height: 5px;
	width: 15vw;
	background: #555;
	border-radius: 15px;	
}
#volume .ui-slider-range-min {
    height: 4vh;
    width: 30vw;
    position: absolute;
    border: none;
    border-radius: 10px;
    outline: none;
}
#volume .ui-slider-handle {
    width: 20px;
  height: 20px;
    border-radius: 20px;
  background: #FFF;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
}